.contenedorFormLista {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding: 20px;
    gap: 20px
}

.contenedorFormUser {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.formulario {
    position: relative;



    display: grid;


    background: var(--blanco);
    padding: 30px 40px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

}

.formulario form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}


input {
    width: 100% !important;
    height: 40PX;
    padding: 2px 10px;
    border-radius: 14px;

    border: 1px solid var(--colorprimario);

}

.btnCrearCliente {
    background-color: var(--colorprimario);
    border: none;
    border-radius: 17px;
    color: var(--blanco);
    font-weight: 700;
    width: 50%;
    margin-top: 10px;
    height: 45px;
}


.usuarionuevo {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 25px;

}



.cardClienteNuevo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 15px;

}

.cardClienteNuevo h2 {
    font-weight: 600;
    color: var(--colorprimario);
}


.contenedorAvatar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.avatar {
    width: 180px;
    align-self: center;
    margin-bottom: 10px;
}

.titulocampo {
    font-weight: 700;
    color: var(--colorprimario);

}

.campos {
    display: flex;
    gap: 20px;

}

hr {
    color: var(--light-gray);
    margin-top: -10px;
}